<div class="col-xs-12">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="page-header"><h1>Novo Cliente</h1></div>
        <div class="bg-danger validationErrors" ng-show="validationErrors">
            <ul>
                <li ng-repeat="error in validationErrors">{{error}}</li>
            </ul>
        </div>

        <form name="clientForm" class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2">CPF:</label>
                <div class="col-sm-10">
                    <input type="text" ng-pattern="/^(\d)+$/" ng-model="client.cpf" ng-required="true" ng-class="error" ng-minlength="11" ng-maxlength="11" name="cpf" class="form-control">
                    <span ng-class="error" ng-show="clientForm.cpf.$error.required">CPF deve ser informado.</span>
                    <span ng-class="error" ng-show="clientForm.cpf.$error.maxlength">Não é permitido mais de 11 digitos</span>
                    <span ng-class="error" ng-show="clientForm.cpf.$error.minlength">Digite 11 números</span>
                    <p ng-class="error" ng-show="clientForm.cpf.$error.pattern">Números somente</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Endereço:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="client.address" ng-required="true" name="address" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Nome:</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="client.name" ng-required="true" name="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">E-mail:</label>
                <div class="col-sm-10">
                    <input type="email" ng-model="client.email" ng-required="true" name="email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Estado Civil:</label>
                <div class="col-sm-10">
                    <input type="radio" ng-model="client.maritalStatus" value="1" ng-required="true" checked="checked"> Solteiro(a)
                    <input type="radio" ng-model="client.maritalStatus" value="2" ng-required="true"> Casado(a)
                    <input type="radio" ng-model="client.maritalStatus" value="3" ng-required="true"> Viúvo(a)
                    <input type="radio" ng-model="client.maritalStatus" value="4" ng-required="true"> Divorciado(a)
                </div>
            </div>
        </form>

        <div class="form-group">
            <button ng-click="addClient(client)" class="btn btn-primary btn-block" ng-disabled="clientForm.$invalid">Salvar</button>
        </div>

        <div class="form-group">
            <a href="#/clients">Voltar</a>
        </div>

        <div ng-show="clientForm.address.$error.required" class="alert alert-danger">
            Por favor preencha o Endereço.
        </div>
        <div ng-show="clientForm.name.$error.required" class="alert alert-danger">
            Por favor preencha o nome.
        </div>
        <div ng-show="clientForm.email.$error.required" class="alert alert-danger">
            Por favor preencha o e-mail.
        </div>
        <div ng-show="clientForm.maritalStatus.$error.required" class="alert alert-danger">
            Por favor preencha o estado civil.
        </div>
    </div>
</div>