<div class="col-xs-12">
    <div class="bg-danger validationErrors" ng-show="validationErrors">
        <ul>
            <li ng-repeat="error in validationErrors">{{error}}</li>
        </ul>
    </div>
    {{user}}
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="name">E-mail</label>
            <div class="controls">
                <input ng-model="user.email" name="name" id="name" type="text" placeholder="Digite o seu e-mail..."/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Senha</label>
            <div class="controls">
                <input ng-model="user.password" name="password" id="password" type="password" placeholder="Digite a sua senha..."/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox"><input type="checkbox"/> Lembrar senha</label>
                <!--<button class="btn" type="submit">Salvar</button>-->
                <button class="btn btn-info" ng-click="login(user)">Autenticar</button>
            </div>
            <p>
                <span>{{ token }}</span>
            </p>
        </div>
    </form>
</div>

<div class="col-xs-12">    
    <a href="#/newUser">Novo usuário</a>
</div>